<div class="row pl-5">
  <% if policy(comment).friends? %>
    <%= link_to user_path(comment.user.username), class: 'col-1' do %>
      <p><i><small> <%= comment.user.username %></small></i></p>
    <% end %>
  <% else %>
      <p class="col-1"><i><small>annonymous</small></i></p>
  <% end %>
  <p class="col-3"><i><small><%= comment.created_at.to_formatted_s(:long) %></small></i></p>
  <% if policy(comment).destroy? %>
    <%= link_to comment_path(comment),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  <% end %>
</div>
<p class="pl-5"><%= comment.note %></p>

<% comment.comments.each do |child_comment| %>
  <%= render 'comments/comment', comment: child_comment, post: comment %>
<% end %>

<a class="btn btn-outline-secondary ml-5 my-3" data-toggle="collapse" href="#collapseReply" role="button" aria-expanded="false" aria-controls="collapseExample">
  Reply
</a>

<div class="collapse px-3 py-3" id="collapseReply">
  <div class="card card-body">
    <%= render 'comments/comment_form', comment: comment %>
  </div>
</div>
<hr>


