<div class="container pt-5">
  <div class="main-container">
    <div class="row justify-content-between align-items-center">
      <h1 class="col-4 pt-3"><i class="fa fa-users" aria-hidden="true"></i> Friends</h1>
      <div class="offset-4 col-4 text-right">
        <%= form_tag(search_path, method: "get", class: "form-inline") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Find friends" %>
            <%= submit_tag "Search", class: "ml-3 btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <%= render 'shared/friends', friends: @friends, friend_search: false, pending_request: false, received: false %>
    <% if @pending_requests.present? %>
      <h1 class="pt-5">Pending Friend Requests</h1>
      <%= render 'shared/friends', friends: @pending_requests, friend_search: false, pending_request: true, received: false %>
    <% end %>
    <% if @pending_requests_received.present? %>
      <h1 class="pt-5">Pending Requests Received</h1>
      <%= render 'shared/friends', friends: @pending_requests_received, friend_search: false, pending_request: false, received: true %>
    <% end %>
  </div>
</div>
