<div class="row pl-3">
  <% if user.photo.attached? %>
    <%= cl_image_tag user.photo.key, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% else %>
    <%= image_tag "avatar.png", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% end %>
  <div class="col-6">
    <h1 class=" text-center"> <%= user.username %> </h1>
    <hr>
    <h4 class="pl-4">Joined on <%= user.created_at.to_formatted_s(:long) %></h4>
    <h4 class="pl-4">Number of Posts: <%= user.posts.count %></h4>
    <h4 class="pl-4">Number of Comments: <%= user.comments.count %></h4>
    <h4 class="pl-4">Number of Friends: <%= user.friends.count %></h4>
    <h4 class="pl-4">Last seen <%= time_ago_in_words user.last_seen_at unless user.last_seen_at.nil? %> ago</h4>


  </div>
  <% if policy(user).update? %>
    <div class="col-1 offset-1 text-right">
      <%= link_to edit_user_registration_path do %>
        <h3><i class="fa fa-eraser" aria-hidden="true"></i></h3>
      <% end %>
    </div>
  <% end %>
</div>
<h1 class="pl-3">Friends</h1>
<%= render 'shared/friends', friends: user.friends, friend_search: false, pending_request: false, received: false %>
