<div class="accordion mb-3" id="accordionPosts">
  <% posts.each do |post| %>
    <div class="card">
      <div class="card-header " id="heading<%= post.id %>">
        <div class="row">
          <button class="btn text-left col-10" type="button" data-toggle="collapse" data-target="#collapse<%= post.id %>" aria-expanded="true" aria-controls="collapse<%= post.id %>">
            <h3><%= post.title %></h3>
          </button>
          <div class="col-2">
            <div class="row text-right">
              <%= link_to user_path(post.user.username), class: "col" do %>
                <p><small><%= post.user.username %></small></p>
              <% end %>
            </div>
            <div class="row text-right">
              <p class="col"><small> (<%= post.date.to_formatted_s(:short) %>)</small></p>
            </div>
          </div>
        </div>
      </div>

      <div id="collapse<%= post.id %>" class="collapse" aria-labelledby="heading<%= post.id %>" data-parent="#accordionPosts">
        <div class="card-body">
          <div class="row">
            <div class="col-11">
              <p><%= post.content %></p>
            </div>
            <div class="col-1 text-right">
              <%= link_to post_path(post),
                          remote: true,
                          method: :delete,
                          data: { confirm: "Are you sure?" } do %>
                          <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="pl-3">
              <%= link_to post_path(post) do %>
                <p><i class="fa fa-comment" aria-hidden="true"></i> <small><%= post.comments.count %> comments</small> </p>
              <% end %>
            </div>

          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
