<div class="accordion mb-3" id="accordionPosts">
  <% posts.each do |post| %>
    <div class="card">
      <div class="card-header " id="heading<%= post.id %>">
        <div class="row">
          <div class="btn text-left col-10" type="button" data-toggle="collapse" data-target="#collapse<%= post.id %>" aria-expanded="true" aria-controls="collapse<%= post.id %>">
            <h3><%= post.title %></h3>
            <div class="emoji-tallies d-flex">
              <% if post.likes.count > 0 %>
                <% post.likes.each do |like| %>
                  <p><%= like.value.html_safe %></p>
                <% end %>
                <p class="pl-3"><%= post.likes.count %></p>
              <% end %>
            </div>
          </div>
          <div class="col-2">
            <div class="row text-right">
              <%= link_to user_path(post.user.username), class: "col" do %>
                <p><small><%= post.user.username %></small></p>
              <% end %>
            </div>
            <div class="row text-right">
              <p class="col"><small> (<%= post.date.to_formatted_s(:short) %>)</small></p>
            </div>
          </div>
        </div>
      </div>

      <div id="collapse<%= post.id %>" class="collapse" aria-labelledby="heading<%= post.id %>" data-parent="#accordionPosts">
        <div class="card-body">
          <div class="row">
            <div class="col-11">
              <p><%= post.content %></p>
            </div>
            <% if policy(post).destroy? %>
              <div class="col-1 text-right">
                <%= link_to post_path(post),
                            method: :delete,
                            data: { confirm: "Are you sure?" } do %>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="row mt-3 justify-content-between">
            <div class="pl-3">
              <%= link_to post_path(post) do %>
                <p><i class="fa fa-comment" aria-hidden="true"></i> <small><%= post.deep_count %> comments</small> </p>
              <% end %>
            </div>
            <div class="emoji-likes d-flex align-middle mr-3">
              <div class="emoji-choices mr-3">
                <%= link_to post_likes_path(post, value: '&#128514'), method: :post do %>
                  <p>&#128514</p>
                <% end %>
                <%= link_to post_likes_path(post, value: '&#x1F60D'), method: :post do %>
                  <p>&#x1F60D</p>
                <% end %>
                <%= link_to post_likes_path(post, value: '&#x1F631'), method: :post do %>
                  <p>&#x1F631</p>
                <% end %>
                <%= link_to post_likes_path(post, value: '&#x1F973'), method: :post do %>
                  <p>&#x1F973</p>
                <% end %>
              </div>
              <div class="emoji-selector d-flex justify-content-center">
                <p>&#x1F642</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
