<div class="container mt-5">
  <h1 class="pt-5 pl-5">All your posts</h1>
  <div class="accordion" id="accordionPosts">
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-header d-flex justify-content-between" id="heading<%= post.id %>">
          <h2 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapse<%= post.id %>" aria-expanded="true" aria-controls="collapse<%= post.id %>">
              <h3><%= post.title %></h3>
            </button>
          </h2>
          <p><small> (<%= post.date.to_formatted_s(:short) %>)</small></p>
        </div>

        <div id="collapse<%= post.id %>" class="collapse" aria-labelledby="heading<%= post.id %>" data-parent="#accordionPosts">
          <div class="card-body">
            <p><%= post.content %></p>
            <%= link_to 'View in Window', post_path(post) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
